*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(1, 150, 150);
    align-items: center;
}
.hd-one{
    display: flex;
    align-items: center;
}
.hd-one img{
    width: 10%;
    border-radius: 50%;
    padding: 1%;
}
.hd-one a{
    color: white;
}
.good{
    padding: 0 20%;
}
.hd{
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 1vw;
    display: flex;  
    justify-content: end;
}
.hd p {
    margin-right: 3vw;
}
.hd p a{
    color: white;
}
.two{
    color: rgb(1, 1, 1);
    text-align: center;
    font-size: 2vw;
    width: 100%;
    background-color: rgb(255, 200, 1);
    margin: auto;
}
main{ 
    background-color: rgb(240, 240, 240);
}
.one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.oneone img{
    width: 100%;
    height: 30vh;
}
.oneone{
    padding: 4%;
    text-align: center;
}
.oneone p{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 150, 150);
}


.three-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 0;
}
.three-one{ 
    margin: auto;   
}
table{
    border-collapse: collapse;
}
 th, td {
    border: 2px solid gray; 
    background-color: rgb(240, 240, 240);
    color:black;
    margin: 0;
    padding: 0 0.2vw;
}
.three-two{
    background-color: rgb(1, 150, 150);
    color: white;
    margin: auto;
    padding: 1vh 1vw;
}    

.tt{
    width: 80%;
    text-align: center; 
    margin:auto;
    padding: 5% 0;
}
.course{
    background-color: rgb(255, 200, 1);
}